@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #e56c0a;
    font-weight: bold;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* NAVIGATION BAR SETTINGS */
/* ------------------------*/

.header {
    background: #000000;
    height: 100px;
    border-bottom: 2px solid red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.7s ease-in-out;
    z-index: 1;
}

.header .logo {
    letter-spacing: 5px;
    color: red;
    font-size: 28px;
    font-weight: 900;
}

.header a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.header .container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header ul {
    display: flex;
    flex-flow: wrap;
}

.header ul li {
    margin-left: 25px;
}

.nav a:hover {
    color: red;
}

nav a.active {
    color: red;
}

/* SPLIT BANNER AFTER NAVIGATION */
/* ------------------------------*/

.banner {
    clear: both;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 750px;
    background-color: bisque;
}

.side{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.side.left{
    left:0;
    background-image: url("../../assets/images/rs-banner-left.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.side.right{
    right:0;
    background-image: url("../../assets/images/rs-banner-right.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1{
    position: absolute;
    left:50%;
    top:30%;
    color:#ffffff;
    font-size: 3.5rem;
    transform: translateX(-50%);
    white-space: nowrap;
}
.banner p{
    position: absolute;
    left:50%;
    top:45%;
    color:#ffffff;
    font-size: 1.5rem;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

.hover-left .left{
    width: 80%;
}

.hover-left .right{
    width: 20%;
}

.hover-right .right{
    width: 80%;
}

.hover-right .left{
    width: 20%;
}
.side.left, .side.right{
    transition: all 1500ms ease-in-out;
}

/* ----MEMBERS SECTION ----------*/
/* ------------------------------*/

#members .container {
    display: flex;
    flex-wrap: wrap;
    
}

.members-card {
    min-width: 300px;
    text-align: justify;
    color: #fff;
    margin: 20px 10px;
    padding: 15px 20px;
    border-radius: 3%;
    border: 2px solid black;
}
.members-card img{
    max-width: 260px;
}