@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #e56c0a;
    font-weight: bold;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
/* NAVIGATION BAR SETTINGS */
/* ------------------------*/

.header {
    background: #000000;
    height: 100px;
    border-bottom: 2px solid red;
}

.header .logo {
    letter-spacing: 5px;
    color: red;
    font-size: 28px;
    font-weight: 900;
}

.header a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.header .container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header ul {
    display: flex;
    flex-flow: wrap;
}

.header ul li {
    margin-left: 25px;
}

.nav a:hover {
    color: red;
}

nav a.active {
    color: red;
}